<!DOCTYPE html>
<html>
  <head>
    <title>Twitbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "layouts/navbar"%>
    <!-- flash messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Page Content -->
    <%= yield %>

    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">

        <center>
          <p>© 2018 Romane Green</p>
        </center>
      </div>
    </footer>

  </body>
</html>